$white: #FFFFFF;
$black: #000000;
$red: #FF0000;

$alabaster: #F9F9F9;
$alto: #D8D8D8;
$calico: #DDCD85;
$hippie-blue: #68A2BC;
$mine-shaft: #333333;
$seagull: #83CCE6;
$silver: #CCCCCC;
$silver-chalice: #B0B0B0;
$tumbleweed: #DDB185;
$yellow-green: #CDDD85;
$yellow-greener: #B3E086;