*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*/*/*/bin/*
*/*/*/obj/*
*_ReSharper.*/

*/*/Resource.designer.cs
*/*/*/Resource.designer.cs
*/*/*/*/Resource.designer.css
node_modules/
config/config.json
public/img/uploads/
.idea

feedbackBackup/*
xlsx/*
public/img/.cache/*
