div.coupon-preview
    div.coupon-detail-preview-container
        div.coupon-back
            img(src="/img/coupon-back.png")
        div.logo-coupon
            img(src="/img/ipad-maggs-logo.png")
        //div.coupon-beacon
        //    img(src="/img/coupon-beacon.png")
        div.coupon-detail-preview-content
            div.coupon-detail-preview-image
                img.coupon-detail-preview-image-uploaded(src="/img/coupon-preview-detail.png")
                div.coupon-detail-preview-image-pill
                    img(src="/img/sticker.png")
                    div.preview-pill
            div.coupon-detail-preview-body
                div.preview-tagline.coupon-detail-preview-body-tagline
                div.preview-endDate.coupon-detail-preview-body-endDate gültig von TT.MM.JJJJ bis TT.MM.JJJJ
                div.coupon-detail-preview-body-store in der Boutique:
                    br
                    | Bern
                div.preview-description.coupon-detail-preview-body-description Details:
    div.coupon-list-preview-container
        div.coupon-back
            img(src="/img/coupon-back.png")
        div.logo-coupon
            img(src="/img/ipad-maggs-logo.png")
        //div.coupon-beacon
        //    img(src="/img/coupon-beacon.png")
        div.coupon-list-preview-content
            div.coupon-list-preview-image
                img(src="/img/coupon-preview-list.png")
                div.coupon-list-preview-body-backgound
                div.coupon-list-preview-body
                    div.preview-tagline.coupon-list-preview-body-tagline
            div.coupon-list-preview-pill
                img(src="/img/sticker.png")
                div.preview-pill
        div.preview-endDate.coupon-list-preview-body-endDate gültig bis TT.MM.JJJJ