extends ../../layout_ipad

block variables
    - var body_class = 'employee'
block content
    div.employee-container
        div.ipad-top-right-button
            a.ipad-logo(href="/customer")
                //img(src="/img/ipad-maggs-logo.png")
                //img(src="/img/close.png")
        block container-content